<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <div class="row">
    {% for n in news %}
        <div class="col-sm-4">
            <img src="{{ n.top_image }}" class="img-responsive">
            <h3><a href="{{ url_for('show_article', slug=n.slug) }}">{{ n.title }}</h3>
        </div>
        {% if loop.index is divisibleby 3 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>